<h2>Listado de usuarios</h2>

@for (user of users; track user.id) {
  <div style="margin-bottom: 20px;">
    <img [src]="user.image" alt="Foto de {{ user.first_name }}" width="80" style="border-radius: 8px;">
    <p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
    <p>{{ user.email }}</p>

    <button [routerLink]="['/user', user.id]">Ver detalle</button>
    <button [routerLink]="['/updateuser', user.id]">Actualizar</button>
    <button [routerLink]="['/newuser']">Nuevo usuario</button>

    <hr>
  </div>
}
